<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SQLServerTxtDump.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SQLServerTxtDump.My.MySettings.SQLServerConnectionString1"
            connectionString="server=62.152.54.120;initial catalog=FileStream1;persist security info=True;user id=SQLServerTxtDump;password=zyke6e$}MRz1@)3$;max pool size=50000"
            providerName="System.Data.SQLite.EF6" />
        <add name="SQLServerTxtDump.My.MySettings.SQLServerConnectionString2"
            connectionString="Data Source=DESKTOP-LSPOOHK;Initial Catalog=KWMC;Integrated Security=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <applicationSettings>
        <SQLServerTxtDump.My.MySettings>
            <setting name="DefaultOutputPath" serializeAs="String">
                <value>J:\VotpuskTxtDump</value>
            </setting>
            <setting name="FieldDivider" serializeAs="String">
                <value>#</value>
            </setting>
        </SQLServerTxtDump.My.MySettings>
    </applicationSettings>
</configuration>
